body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.ad {
    background-color: #679975;
    color: #fff;
    border: #679975;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    vertical-align: baseline;
    text-align: center;
}

.adMain {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

.adDivider {
    margin-left: 10px;
    padding-right: 10px;
    width: 0;
    border-left: 1.5px solid #fff;
    height: 10%;
    vertical-align: baseline;
}

.adSchedule {
    font-size: 1.2em;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}

.headerClass {
    background-image: url("Img/LOG_TI.png");
    background-color: #fff;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 140px;
    object-fit: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    width: auto;
    margin: 10px;
   z-index: 1;
}

.productContainer {
    margin-left: 5px;
}

.productContainer img {
    width: 300px;
}

.btnValidate {
    padding: 5px 50px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    background-color: #679975;
    border: 0;
    border-radius: 0.5em;
    box-shadow: 0px 4px 0px #95b89e;
}

.btnValidate:hover {
    background-color: #95b89e;
}

.formTc {
    background: #fff;
    width: 700px;
    max-width: 100%;
    padding: 30px 30px 30px 6px;
    border-radius: 10px;
    position: relative;
    top: -150 px;
    margin: auto;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

input {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
    padding: .5rem;
    transition: all .25s ease;
    padding: 10px;
}

footer {
    font-family: 'Lato', sans-serif;
    background-color: #4d4d4d;
    position: relative;
    text-align: left;
    padding: 1em 1em 1em 1em;
}

.footer-h3 {
    width: auto;
    color: #fff;
    font-size: 1em;
    text-align: left;
    letter-spacing: normal;
    line-height: normal;
}