@font-face {
    font-family: 'Lato', sans-serif;
    src: local(Lato);
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.flex-container div {
    width: auto;
    margin: 10px;
    text-align: center;
    font-size: 1em;
}

.ad {
    background-color: #679975;
    color: #fff;
    border: #679975;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    vertical-align: baseline;
    text-align: center;
}

.adMain {
    color: #fff;
    background-color: #679975;
    border:#95b89e;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

.adDivider {
    color: #fff;
    margin-left: 10px;
    padding-right: 10px;
    width: 0;
    border-left: 1.5px solid #fff;
    height: 10%;
    vertical-align: baseline;
}

.adSchedule{
    color: #fff;
    text-align: center;
    vertical-align: baseline;
    border:#95b89e;
    box-sizing: border-box;
}

.headerClass {
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #679975;
    font-size: 1.5em;
}

h2 {
    font-family: 'Lato', sans-serif;
}

/* .bgFlower{

} */

.formularioTc {
    background: #fff;
    width: 100%;
    max-width: 700px;
    padding: 80px 30px 30px 6px;
    border-radius: 10px;
    position: relative;
    top: -150 px;
}

input {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: .5rem;
    transition: all .25s ease;
}

footer {
    font-family: 'Lato', sans-serif;
    background-color: #4d4d4d;
    position: relative;
    text-align: left;
    /*padding: 1em 2em 3em 4em;*/
}

.footer-h3 {
    width: auto;
    color: #fff;
    font-size: 1em;
    text-align: left;
    letter-spacing: normal;
    line-height: normal;
}